@import '../../styles/base/abstracts';

.title {
	color: $gold;
	font-family: 'Ubuntu-Light', sans-serif;
	line-height: 1.2;
}

h1.title,
h1.subtitle {
	font-size: rem(39);
}

h3.title,
h3.subtitle {
	font-size: rem(24);
}

h5.title,
h5.subtitle {
	font-size: rem(16);
}

.subtitle {
	color: $coral;
	font-family: 'Source-Light', sans-serif;
	line-height: 1.2;
	letter-spacing: 0.05em;
}
