@import '../../styles/base/abstracts';
.aparts {
  flex-basis: 100%;
  flex: 1;

  max-width: rem(1392);
  margin: 0 auto;

  padding-left: rem(53);
  padding-right: rem(51);

  &__menu {
    margin-bottom: rem(48);
    margin-top: rem(27);
  }
}
