@font-face {
	font-family: Vienna;
	src: url('/fonts/vienna.otf') format('opentype');
}

@font-face {
	font-family: Source;
	src: url('/fonts/SourceSansPro-Regular.ttf');
}

@font-face {
	font-family: Source-Light;
	src: url('/fonts/SourceSansPro-Light.ttf');
}

@font-face {
	font-family: Source-Black;
	src: url('/fonts/SourceSansPro-Black.ttf');
}

@font-face {
	font-family: Ubuntu;
	src: url('/fonts/Ubuntu-Regular.ttf');
}

@font-face {
	font-family: Ubuntu-Light;
	src: url('/fonts/Ubuntu-Light.ttf');
}

@font-face {
	font-family: Brawler;
	src: url('/fonts/Brawler-Regular.ttf');
}

@font-face {
	font-family: Roboto;
	src: url('/fonts/Roboto-Regular.ttf');
}

body {
	font-family: 'Source-Light', sans-serif;
	color: $dark-blue;

	font-size: rem(16);

	line-height: rem(20);
}

a {
	font-family: 'Ubuntu-Light', sans-serif;
}
